# Core packages
Flask
pandas
numpy
matplotlib
seaborn
python-dotenv
gunicorn
# LangChain + integrations
langchain
langchain-community
langchain-cohere
langchain-qdrant
langchain-huggingface

# Qdrant vector DB client
qdrant-client

# For pulling datasets from KaggleHub (if used)
kagglehub
