# Core packages
Flask
pandas
numpy
python-dotenv
gunicorn
sentence-transformers

# LangChain + integrations
langchain
langchain-community
langchain-qdrant
langchain-huggingface

# Qdrant vector DB client
qdrant-client
